*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Tajawal', sans-serif;
  background-color: #00d5bb;
  width: 100vw;
  height: 100vh;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main__page{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: white;
}
.header__page{
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #00a48f ;
  height: 14%
}
.header__logo{
  width: 45px;
  height: 55px;
  padding-top: 15px;
}
.header__date{
  display: flex;
  padding-top: 12px;
  align-items: center;
}
.date__number{
  font-size: 50px;
  color: #00a48f;
  padding-right: 7px;
  padding-top: 8px;
}
.date__day{
  font-size: 15px;
  color: #54595b;
}
.date__month-year{
  font-size: 13px;
  color: #54595b;
}

/*Tasks*/
.tasks__container{
height: 71%;
}
.tasks__list{
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.tasks__item{
  display: flex;
  flex-direction: row;
}
/* CHECKBOX*/
.checkbox__container{
  display: flex;
  flex-direction: row;
}
input[type=checkbox] {
  display: none;
}

label {
	cursor: pointer;
	position: relative;
	color: grey;
  padding-left: 30px;
  font-size: 20px;
}
label:before {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: -1px;
	background-color: #fff;
	border: 2px solid #00d5ba;
  border-radius: 50%;
}

/* Cross out */
input[type=checkbox]:checked + label{
  text-decoration:line-through;
}

/* Tick */
input[type=checkbox]:checked + label:before {
	content: "✔";
	font-size: 15px;
  padding-top: 1px;
	color: #00d5ba;
	text-align: center;
	line-height: 15px;
	background-color: #fff;
	border: 2px solid #00d5ba;
}

/*Add Task (hidden)*/
.add__task{
  display: none;
}
.new__task{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.new__task--title{
  color: white;
}
.new__task--input{
width: 80%;
}
.new__task--button{
  color: white;
  background-color: inherit;
  box-shadow: none;
  border: solid 1px white;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}
.show{
  display: flex;
  justify-content: center;
  background-color: #00a38e;
  width: 100%;
  height: 40%;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.hide{
display: none;
}

/* Footer */
.footer__page{
height: 15%;
text-align: center;
border-top: solid 1px grey;
}
.button__add{
box-shadow: none;
border: none;
background-color: white;
padding-top: 15px;
cursor: pointer;
}
.button__add--img{
  width: 40px;
}
